nav {
  background-color: $primaryClr;
  ul {
    @include flexCenter(row, 0.7rem);
  }
  li {
    list-style: none;
    margin: 1rem max(3vw, 0.7rem);
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
