section {
  @include flexCenter(column, 2rem);
  width: min(95%, 700px);
  padding-block: 3em;
  margin: auto;
  img {
    width: 100%;
    object-fit: cover;
  }
  article {
    letter-spacing: 1px;
    color: $primaryClr;
    h2 {
      font-size: $fs-lg;
    }
    p {
      margin-block: 1.5em;
      font-size: $fs-md;
    }
    button {
      background-color: $primaryClr;
      cursor: pointer;
      padding: 0.3em 1.7em;
      border: none;
      border-radius: 3px;
      font-size: $fs-md;
      &:hover {
        opacity: 0.9;
      }
    }
  }
}
